<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WeatherAlerterName" value="xxx" />
    <add key="WeatherAlerterEmail" value="xxx" />
    <add key="WeatherAlerterEmailPassword" value="xxx" />
    <add key="WeatherAPIKey" value="xxx"/>
    <!-- https://stackoverflow.com/questions/12685846/how-to-write-an-uri-string-in-app-config -->
    <!-- note the country "us" in the string below. this should also be changed to key in this file -->
    <add key="WeatherAddress" value="http://api.openweathermap.org/data/2.5/forecast?q={0},us&amp;appid={1}"/>
    <add key="WeatherCity" value="Kansas City"/>
  </appSettings>
</configuration>